.advantages {
    width: 320px;
    margin: 0 auto;
}

.advantages__wrapper {
    margin: 0;
    margin-top: 46px;
    padding-left: 28px;
    padding-right: 20px;
    margin-bottom: 119px;
}

.advantages__caption {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #283645;
}

.advantages__caption-main {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #283645;
}

.advantages__image-smile {
    position: relative;
    width: 320px;
    height: 320px;
    top: -60px;
    background-color: #f2f2f2;
    background-image: url(../img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: 80px 40px;
}

.advantages__list {
    padding: 0;
    padding-top: 20px;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    background-color: #f2f2f2;
    padding-bottom: 49px;
}

.advantages__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    color: #000000;
}

.advantages__description {
    font-size: 14px;
    line-height: 1.71;
    color: #283645;
}

.advantages__item {
    padding-left: 30px;
    padding-right: 31px;
}