.main-nav__toggle {
    display: block;
    margin-top: 21px;
    margin-left: 250px;
    height: 24px;
    width: 50px;
    background-image: url(../img/icon-menu-burger.svg);
    border: none;
    background-color: #283645;
}

.main-nav {
    margin-left: -92px;
}

.main-nav__list {
    margin-bottom: 0;
    padding: 0;
}