.price {
    width: 320px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.price__list {
    border-collapse: collapse; 
}

.price__name {
    background-color: #283645;
    color: #ffffff;
    border-left: solid 2px #e5e5e5;
    border-right: solid 2px #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    text-align: center;
    padding-left: 91px;
    padding-right: 90px;
}

.price__value {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
}

.price__properties {
    font-size: 14px;
    line-height: 2.14;
    text-align: left;
    color: #283645;
    border: solid 2px #e5e5e5;
}