.send-form__submit {
    margin-left: 22px;
    margin-right: 22px;
    width: 276px;
    height: 59px;
    background-color: #2aab6d;
    border: solid 2px #2aab6d;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}