.upload-photo {
    background-color: #f2f2f2;
}

.upload-photo__content {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    color: #283645;
    background-color: #fff;
}

.upload-photo__photo-user {
    margin-top: 20px;
    padding-left: 18px;
    padding-right: 22px;
}

.upload-photo__button {
    padding-left: 18px;
}

.upload-photo__button-submit {
    width: 280px;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #d22856;
    border: solid 3px #d22856;
    border-radius: 30px;
    margin-bottom: 12px;
}

.upload-photo__button-reset {
    width: 280px;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: rgba(40, 54, 69, 0.1)856;
    opacity: 0.1;
    border: solid 3px #283645;
    border-radius: 30px;
    margin-bottom: 41px;
}